$color-we: #d64643;
$color-dm: #88a63e;
$color-gr: #4d72a6;
$color-mg: #90368b;
$color-amu: #b4b338;
$color-gf1: #bdbdbd;

* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

#activities {
    max-width: 50%;
    margin: 1rem auto 0 auto;
    border: 1px solid black;

    .we {
        background-color: $color-we;
    }

    .gr, .ggr {
        background-color: $color-gr;
    }

    .dm {
        background-color: $color-dm;
    }

    .mg {
        background-color: $color-mg;
    }

    .iw {
        background-color: $color-gf1;
    }

    .agr, .abi {
        background-color: $color-amu;
    }
}