$color-we: #d64643;
$color-dm: #88a63e;
$color-gr: #4d72a6;
$color-mg: #90368b;
$color-amu: #b4b338;
$color-gf1: #bdbdbd;

#activity-widget {

    .we {
        background-color: $color-we;
    }

    .gr, .ggr {
        background-color: $color-gr;
    }

    .dm {
        background-color: $color-dm;
    }

    .mg {
        background-color: $color-mg;
    }

    .iw {
        background-color: $color-gf1;
    }

    .agr, .abi {
        background-color: $color-amu;
    }
}





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#activity-widget {
    width: 30vw;
    height: fit-content;
    background-color: grey;
    display: flex;
    flex-direction: column;
    .card {
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: row;
        text-align: center;
        color: #DFDFDF;
        &:nth-child(1n) {
            background-color: #3F4259;
        }
        &:nth-child(2n) {
            background-color: #4D5A84;
        }
        div {
            padding: 5px;
            &.time {
                width: 20%;
            }
            &.location {
                width: 20%;
            }
            &.class {
                width: 30%;
            }
            &.subject {
                width: 30%;
            }
        }
    }
}